@media screen and (min-width:360px){
	/*body{background-color:red;}*/
	.portrait{display:none;}
}
@media screen and (max-width:360px){
	/*body{background-color:blue;}*/
	.landscape{display:none;}
}

.portrait{
border:1px solid black;
}
