*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Inter','Akshar', sans-serif;
}

/* CSS FONT URLS */
@import url('https://fonts.googleapis.com/css2-family=Akshar:wght@400;600&display=swap');

/* ELEMENT SELECTORS */
header, footer{
	text-align:center;
	font-family:sans-serif;
	background-color:#a10705;
	color:white;
}

nav{
	text-align:center;
	padding:10px;
}

h2{
	font-family:'Akshar', sans-serif;
	font-weight:600;
	color:#002e99;
	background-color:#89ffdd;
}

h3{
	color:#68b723;
	padding-top:0.5em;
}

em{
	color:#a56de2;
}

strong{
	color:#910e38;
}

a{
	text-decoration:none;
	font-weight:400;
	font-size:20px;
}

p{
	padding:0.5em 1em;
	line-height:1.5;
}


/* CLASS SELECTORS */
.ul-content, .ol-content{
	padding-left:1.5em;
	line-height:1.5;
	padding-bottom:0.5em;
}


.self{
	color:#c6262e;
}

.displaynone{
	display:none;
}

.inline-underline{
	text-decoration:underline;
	text-decoration-style:double;
	text-decoration-color:red;
}

.inline-headings{
	color:#8e44ad;
	font-weight:bold;
}

.top-of-page-anchor{
	display:inline-block;
	color:green;
	text-align:right;	
}
/*.no-heading{
	padding:1em 1em 2em 1em;
}*/

/* button */
.btn{
	display:inline-block;
	background-color:#0e9a83;
	padding:10px;
	margin:5px;
	height:auto;
	width:100%;
	border-radius:10px;
	border:3px solid green;
	color:white;
}
.btn-text{
	color:white;
}

.btn:hover{
	background-color:orange;
}

.btn:click{
	background-color:yellow;
}

.box{
	background-color:pink;
	border-left:20px solid red;
	margin:10px;
}

/*.index-btn{
	background-color:green;
	margin:10px;
	height:40px;
	display:inline-block;
}*/

/*media landscape*/
@media screen and (orientation:landscape){
	.btn{
		width:50%;
	}
}

@media screen and (orientation:portrait){
	.btn{
		width:90%;
	}
}
