*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Inter','Akshar', sans-serif;
}

/* CSS FONT URLS */
@import url('https://fonts.googleapis.com/css2-family=Akshar:wght@400;600&display=swap');

/* ELEMENT SELECTORS */
header, footer{
	text-align:center;
	font-family:sans-serif;
	background-color:#a10705;
	color:white;
}

nav{
	text-align:center;
}

h2{
	font-family:'Akshar', sans-serif;
	font-weight:600;
	color:#002e99;
	background-color:#89ffdd;
}

h3{
	color:#68b723;
	padding-top:0.5em;
}

em{
	color:#a56de2;
}

strong{
	color:#910e38;
}

a{
	text-decoration:none;
	font-weight:400;
	font-size:20px;
}

p{
	padding:0.5em 1em;
	line-height:1.5;
}


/* CLASS SELECTORS */
.ul-content{
	padding-left:1em;
	line-height:1.5;
	padding-bottom:0.5em;
}


.self{
	color:#c6262e;
}

/*.no-heading{
	padding:1em 1em 2em 1em;
}*/

/* button */
.btn{
	background-color:red;
	margin:15px;
	padding:10px;
	height:40px;
	width:100px;
	border-radius:10px;
}
.btn-text{
	color:white;
}

.btn:hover{
	background-color:orange;
}
