/**{
	box-sizing:border-box;
}*/

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
/*-------------*/

/* element selectors */
body{
	margin:0;
}
h1{
	font-family:'Teko',sans-serif;
	font-weight:400;
	font-size:50px;
	text-align:center;
	background-color:#8e44ad;
	color:white;
	margin:0;
}

h2{
	color:#206b00;
	background-color:#89ffdd;
	text-decoration:underline solid #1abc9c;
	font-family:'Oswald',sans-serif;
	/*text-decoration-color:#1abc9c;*/
}

h3{
	color:#002e99;
	background-color:#8cd5ff;
	font-family:'Oswald',sans-serif;
}

table{
	padding:0 1.53em;
}

tr:nth-child(odd){
	background-color:#273445;
	background-color:grey;
	color:white;
}

tr:nth-child(even){
	background-color:white;
}

/*tr:nth-child(even) span{
	color:#d1ff82;
}*/

th{
	background-color:black;
	padding:10px;
}

td{
	padding:0 30px;
}

span{
	color:#a10705;
	font-weight:bold;
}

tr:nth-child(odd) span {
	color:#00ffff;
}


/* class selectors */
.content{
	padding:0 2em;
}

.heading{
	background-color:#89ffdd;
}

.box{
	background-color:pink;
	border-left:20px solid red;
	margin:10px;
}

.pbox{
	background-color:pink;
	border-left:20px solid red;
	margin:10px;
	padding:0 2em;
}

.ul-content{
	font-family: 'Noto Serif', serif;
	font-size:16px;
}

