/**{
	box-sizing:border-box;
}*/

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*-------------*/

/* element selectors */
body{
	margin:0;
}
h1{
	font-family:'Teko',sans-serif;
	font-weight:400;
	font-size:50px;
	text-align:center;
	background-color:#8e44ad;
	color:white;
	margin:0;
}

h2{
	color:#206b00;
	background-color:#89ffdd;
	text-decoration:underline solid #1abc9c;
	font-family:'Oswald',sans-serif;
	/*text-decoration-color:#1abc9c;*/
}

h3{
	color:#002e99;
	background-color:#8cd5ff;
	font-family:'Oswald',sans-serif;
}

table{
	padding:0 30px;
}
tbody{
	padding-left:0;
	padding-right:30px;	
}

tr:nth-child(odd){
	background-color:#273445;
	background-color:grey;
	color:white;
}

tr:nth-child(even){
	background-color:white;
}

/*tr:nth-child(even) span{
	color:#d1ff82;
}*/

th{
	background-color:black;
	padding:10px 30px;
}

/*td{
	padding:0 30px;
}*/

span{
	color:#a10705;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	line-height:1.5;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	line-height:1.5;
}

/* class selectors */
.content{
	padding:0 2em;
}

.heading{
	background-color:#89ffdd;
}

.box{
	background-color:pink;
	border-left:20px solid red;
	margin:10px;
	padding:0.5em 2em;
}

.pbox{
	background-color:pink;
	border-left:20px solid red;
	margin:10px;
	padding:0 2em;
}

.ul-content{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	line-height:1.5;
}

.num{
	background-color:pink;
	color:#000000;
	font-weight:bold;
}

.box-heading{
	font-family:'Oswald',sans-serif;
	font-weight:400;
	font-size:18px;
	color:#a10705;
	font-weight:bold;
}

.pbold{
	color:#000000;
	font-weight:bold;
}

.libold{
	color:#000000;
	font-weight:bold;
}

.section{
	border:5px dashed #000066;
	padding:.5em;
	background-color:#ccccff;
}

.section2{
	padding:.5em;
	background-color:#ccccff;
}

.section2 h3{
	text-align:center;
	color:#ff3300;
	background-color:#ffb3d1;
	border:3px solid #e6005c;
	border-radius:20px;
}

/*
.specialnum{
	display:inline;
	height:inherit;
}

.specialh3{
	display:inline;
}
*/

.h3-table{
	padding:0;
	margin:0;
}

.h3-tr h3{
	margin:0;
	background-color:none;
}
